@media screen and (max-width: 900px) {
    /* 排版 */
    .container {
        max-width: 900px;
    }
    .col-md-1 {
        width: 8.3%;
    }
    .col-md-2 {
        width: 16.6%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33%;
    }
    .col-md-5 {
        width: 41.6%;
    }
    .col-md-6 {
        width: 49.9%;
    }
    .col-md-7 {
        width: 58%;
    }
    .col-md-8 {
        width: 66.6%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83%;
    }
    .col-md-11 {
        width: 91.6%;
    }
    .col-md-12 {
        width: 100%;
    }





/* handpicked */
    #handpicked .products {
        column-count: 1; 
    }
}